#container{
width:800px;
height:704px;
border:1px solid gray;
margin:auto;
}
#topo{
width:800px;
height:150px;
border:1px solid gray;
margin:auto;
padding:20px;
}
#corpo{
width:800px;
height:330px;
border:1px solid gray;
margin:auto;
padding:20px;
}
#rodape{
width:800px;
height:100px;
border:1px solid gray;
margin:auto;
padding:20px;
}